
<div class="modal-header">
    <h4 class="modal-title">Edit Product</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row pl-4  pr-4" >
      <form [formGroup]="newForm">
        <div class="row">
              <div class="col-12 col-sm-12">
                <div class="form-group">
                  <label for="name">Name<span
                      class="required-field">*</span></label>
                  <div class="controls">
                    <input type="text" formControlName="name" required pattern="^[a-zA-Z]{3,20}\s?([a-zA-Z0-9 ]{1,20})?$" class="form-control"
                      [ngClass]="{ 'error-border': newForm.get('name').hasError('required') && (newForm.get('name').touched) }">
                  </div>
                  <div *ngIf="newForm.get('name').hasError('required') && (newForm.get('name').touched)"
                    class="text-danger"> <i class="ft-alert-circle align-middle"></i>
                    Name {{'IS_REQUIRED'|translate}}
                  </div>
                  <small class="col-12 text-danger pl-0" 
                  *ngIf="newForm.get('name').hasError('pattern') && (newForm.get('name').touched)">
                  Name must be between 3-20 charachters!
              </small>
                </div>
              </div>
              <div class="col-12 col-sm-12">
                <div class="form-group">
                  <label for="category">Category<span
                      class="required-field">*</span></label>
                  <div class="controls">
                    <select #category (change)='setCategory(category.value)' class="form-control">
                      <option *ngFor="let c of categories" [selected]="c.id==categoryId" [value]="c.id">
                        {{ c.title}}
                      </option>
                    </select>
                 
                  </div>
 
                </div>
              </div>
              <div class="col-12 col-sm-12">
                <div class="form-group">
                  <label for="desc">Description<span
                      class="required-field">*</span></label>
                  <div class="controls">
                      <textarea class="form-control" formControlName="desc" cols="30" rows="10"
                      [ngClass]="{ 'error-border': newForm.get('desc').hasError('required') && (newForm.get('desc').touched) }"
                      >
                    </textarea>
                  </div>
                  <div *ngIf="newForm.get('desc').hasError('required') && (newForm.get('desc').touched)"
                    class="text-danger"> <i class="ft-alert-circle align-middle"></i>
                    Description {{'IS_REQUIRED'|translate}}
                  </div>
                </div>
              </div>
              
          </div>
      </form>
        <div class="col-12">
          <button type="submit" class="btn btn-primary btn-fill mr-2" (click)="onFormSubmit()">Update</button>
          <button class="btn btn-outline-danger btn-fill" (click)="closeModal()" type="button">Close</button>
        </div>
    </div>
  