<app-header></app-header>
<!--Carosol-->
<div class="col-12">
  <ngb-carousel>
        <ng-template ngbSlide *ngFor="let banner of banners">
          <div class="picture">
            <img [src]="'http://127.0.0.1:8000/storage/'+banner.image"  alt="Random first slide"/>
              <div class="text">
                <p class="featured">{{banner.title}}</p>
                <h1>Donate & Help</h1>
                <p class="African">Affrican childer for<br>education</p>
                <p class="p3">Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br>Lorem ipsum dolo adipisicing eli.<br>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                <a href="">DONATE NOW</a>
            </div><!--text-->
          </div>
        </ng-template>
  </ngb-carousel>
</div>
<!--carosol end-->
<!--Global configuration of carousels Starts-->
<!-- Start Categories of The Month -->
<section class="bg-white">
  <div class="container py-5">
  <div class="row text-center pt-3">
    <div class="col-lg-6 m-auto">
      <h1 class="h1">{{homeinfo[0].category_title}}</h1>
      <p>
       {{homeinfo[0].category_description}}
      </p>
    </div>
  </div>
  <div class="row mt-5">


    <div class="col-lg-4 col-md-4 col-12 mb-2 mb-md-0" *ngFor="let category of categories">
      <a  (click)="detail(category.id)"> 
        <div class="card card-inverse  text-center bg-color mb-5" >
          <div class="card-content">
            <div class="card-img overlap">
              <img [src]="'http://127.0.0.1:8000/storage/'+category.image" alt="element 06" width="235" height="130" class="mb-1">
            </div>
            <div class="card-body mt-3">
              <h4 class="card-title">{{category.cat_name}}</h4>
              <p class="card-text">{{category.description}}</p>
            </div>
          </div>
        </div>
      </a>
      
    </div>
  </div>
</div>
</section>
<!-- End Categories of The Month -->

<!-- Start Featured Product -->
<section class="bg-light">
  <div class="container py-5">
    <div class="row text-center py-3">
      <div class="col-lg-6 m-auto">
        <h1 class="h1">{{homeinfo[0].product_title}}</h1>
        <p>
      {{homeinfo[0].product_description}}
        </p>
      </div>
    </div>
    <div class="row">    
      <div class="col-12 col-md-4 mb-4" *ngFor="let product of products">
        <div class="card h-100">
          <div class="card-content">
            <div class="card-body">
              <img class="card-img rounded mb-3" [src]="'http://127.0.0.1:8000/storage/'+product.image" alt="image" width="200" height="200">
              <h4 class="card-title">{{product.name}}</h4>
              <p class="card-text">{{product.description}}</p>
              <button type="button" class="btn btn-success">Go somewhere</button>
            </div>
          </div>
        </div>
      </div>

</div>
      
  </div>
  
</section>
<!-- End Featured Product -->

<ngx-spinner class="loader" bdOpacity=0.3 bdColor="#f4f4f9" size="large" color="#2F8BE6" type="ball-spin-clockwise-fade"
	[fullScreen]="true">
</ngx-spinner>

<web-footer></web-footer>