<div class="modal-header">
    <h4 class="modal-title">Add Permission</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   
      <form [formGroup]="newForm">
        <div class="row">
              <div class="col-12 col-sm-12">
                <div class="form-group">
                  <label for="name">Name<span
                      class="required-field">*</span></label>
              
                    <input type="text" formControlName="name" class="form-control"
                      [ngClass]="{ 'error-border': newForm.get('name').hasError('required') && (newForm.get('name').touched) }">
                
                  <div *ngIf="newForm.get('name').hasError('required') && (newForm.get('name').touched)"
                    class="text-danger"> <i class="ft-alert-circle align-middle"></i>
                    Name {{'IS_REQUIRED'|translate}}
                  </div>
                </div>
              </div>                   
          </div>
      </form>
        <div class="col-12">
          <button type="submit" class="btn btn-primary btn-fill mr-2" (click)="onFormSubmit()">Submit</button>
          <button class="btn btn-outline-danger btn-fill" (click)="closeModal()" type="button">Close</button>
        </div>

    <ngx-spinner class="loader" bdOpacity=0.3 bdColor="#f4f4f9" size="large" color="#b416f7" type="ball-spin-clockwise-fade"
    [fullScreen]="true">
  </ngx-spinner>