<section id="ngx-datatables-server-side">
	<div class="row">
		<div class="col-12">
			<!-- Filter starts -->
			<div class="users-list-filter px-2">
				<form autocomplete="off" [formGroup]="filterForm" (submit)="applyFilter()">
					<div class="row border rounded py-2 mb-2 mx-n2">
						<div class="col-12 col-sm-6 col-lg-4" style="text-align: center; top: 32px">
							<h4 class="card-title">Main Stock Management</h4>
						</div>
						<div class="col-12 col-sm-6 col-lg-4">
							<label for="users-list-verified">Product name</label>
							<fieldset class="form-group">
								<input type="text" class="form-control" formControlName="product_name" />
							</fieldset>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 d-flex align-items-center">
							<button (click)="applyFilter()" class="btn btn-primary btn-block users-list-clear">
								{{ "SEARCH" | translate }}</button>&nbsp;
							<button type="reset" (click)="resetFilters()"
								class="btn btn-warning btn-block users-list-clear" style="margin-top: initial">
								{{ "CLEAR" | translate }}
							</button>
						</div>
					</div>
				</form>
			</div>
			<!-- Filter ends -->
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<button type="button" class="btn btn-outline-info btn-icon round mr-1 mb-1 pull-right"
						title="Refresh" (click)="reload()">
						<i class="ft ft-refresh-cw"></i>
					</button>

					<div class="col-md-3 col-3">
						<div class="form-group">
							<select #pageLength (change)='setPageLength(pageLength.value)' class="form-control">
								<option *ngFor="let pl of pageLengths" [selected]="pl.id==10" [value]="pl.id">
									{{ pl.count }} {{ 'RECORDS' | translate }}
								</option>
								<!-- <option value="-1">{{ 'ALL' | translate }}</option> -->
							</select>
						</div>
					</div>
				</div>
				<div class="card-content">
					<div class="card-body">
						<ng-container *ngIf="tableOptions">
							<!-- ngx-datatables-server-side -->
							<ngx-datatable #table class="bootstrap core-bootstrap" [rows]="rows" [columns]="columns"
								[virtualization]="false" [columnMode]="ColumnMode.force" [headerHeight]="50"
								[footerHeight]="50" rowHeight="auto" [limit]="tableOptions.length"
								[loadingIndicator]="dataLoadingFlag" [scrollbarH]="true" (page)="setPage($event)"
								[reorderable]="reorderable" [swapColumns]="swapColumns" [externalPaging]="true"
								[externalSorting]="true" [count]="recordsTotal" [offset]="0"
								[sorts]="[{prop: 'id', dir: 'desc'}]" (sort)="onSort($event)">
								<ngx-datatable-column name="{{'ID'|translate}}" prop="product_id"  [width]="50">
								</ngx-datatable-column>
								<ngx-datatable-column name="Product" prop="product_name" [width]="80">
								</ngx-datatable-column>
								<ngx-datatable-column name="Total Quantity" prop="qty" [width]="80">
								</ngx-datatable-column>
								<ngx-datatable-column name="Remining Quantity" prop="remaining_qty" [width]="80">
								</ngx-datatable-column>


								<ngx-datatable-column name="Status" prop="remaining_qty" [width]="80">
									<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
										<i *ngIf="value>= 1"   class="badge badge-pill bg-light-success">Active</i>
										<i *ngIf="value== 0" class="badge badge-pill bg-light-danger">Inactive</i>
						
									</ng-template>
								</ngx-datatable-column>


								<ngx-datatable-column name="{{'ACTIONS'|translate}}" [width]="100" [sortable]="false">
									<ng-template let-row="row" ngx-datatable-cell-template>
										
										<button type="button" class="btn btn-icon text-primary round"
										routerLink="/stock/main/details/{{row.product_id}}"  title="Show Details">
                                         <i class="ft ft-eye text-info cursor-pointer"></i>
                                            </button>
											<button  title="Move to SubStock" type="button" class="btn btn-icon text-warning round" (click)="moveToSub(row.remaining_qty,row.product_id)">
												<i style="font-size: large;" class="ft-home" aria-hidden="true"></i>
												</button>
												<button  title="Move to on sale" type="button" class="btn btn-icon text-primary round" (click)="moveONSale(row.remaining_qty,row.product_id)">
													<i style="font-size: large;" class="ft ft-wind" aria-hidden="true"></i>
													</button>
											

											

												
										
									</ng-template>
								</ngx-datatable-column>ft-credit-card
							</ngx-datatable>
							<!--/ ngx-datatables-server-side -->
						</ng-container>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<ngx-spinner class="loader" bdOpacity=0.3 bdColor="#f4f4f9" size="large" color="#2F8BE6" type="ball-spin-clockwise-fade"
	[fullScreen]="true">
</ngx-spinner>